<h2> All Journals</h2>

<div class="align-center grid-x journals-container">
  <ul>
    <% @journals.each do |journal| %>
      <li>
        <a href="/journals/<%= journal.id %>"> <%= journal.name %> </a>
      </li>
    <% end %>
  </ul>

</div>
